<div>
  {{#if category}}
    <h2>Обновление категории: Id {{category.id}}</h2>
  {{else}}
    <h2>Добавление новой категории</h2>
  {{/if}}

  <form action="/category{{#if category}}/{{category.id}}/update{{/if}}" method="POST">
    <div class="form-group">
      <label>Название:</label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Выживание"
        {{#if category}}value="{{category.name}}"{{/if}}
        required
      >
    </div>

    <div class="form-group">
      <label>Имя сервера:</label>
      <input
        type="text"
        name="serverName"
        class="form-control"
        placeholder="survival"
        {{#if category}}value="{{category.serverName}}"{{/if}}
        required
      >
    </div>

    <button type="submit">Сохранить</button>
  </form>
</div>
