<div>
  <h2>Управление категориями</h2>
  {{#if message}}{{message}}<br><br>{{/if}}

  <a href="/category/create">
    Новая категория
  </a>

  {{#if categories.length}}
    <div >
      {{#each categories}}
        <div class="item">
          <h3>{{name}}</h3>
          <div>ID: {{id}}</div>
          <div>Привязанный сервер: {{serverName}}</div>

          <br><a href="/category/{{id}}/update">Редактировать</a><br><br>
          <form action="/category/{{id}}/remove" method="POST">
            <button id="submit" onclick="getOut()" type="submit">Удалить</button>
          </form>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div>Нет категорий</div>
  {{/if}}
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
  const eventList = document.getElementById('events');
  const eventSource = new EventSource('/category/sse');

  toastr.options.positionClass = "toast-bottom-right";

  eventSource.onmessage = (e) => {
    const json = JSON.parse(e.data);
    let message = '';
    if (json.type === "CREATE") {
      message = `Создана категория ${json.category.name}`
    } else if (json.type === "UPDATE") {
      message = `Обновлена категория ${json.category.name}`
    } else if (json.type === "REMOVE") {
      message = `Удалена категория`
    }
    toastr.success(message, 'Уведомление');
  };
  eventSource.onerror = (error) => {
    console.log('EventSource failed:', error);
    toastr.error('Ошибка отслеживания', 'Уведомление');
  };

  function getOut() {
    eventSource.close();
  }
</script>
