<div>
  <h2>Управление товарами</h2>
  <a href="/product/create">Новый товар</a>

  {{#if products.length}}
    <div>
      {{#each products}}
        <div class="item">
          <h3 class="card-title">{{name}}</h3>
          <div>Цена: {{price}}</div>
          <div>Подкатегория: {{subcategory.id}}) {{subcategory.name}}</div>

          <br><a href="/product/{{id}}/update" class="btn btn-warning btn-sm">Редактировать</a><br><br>
          <form action="/product/{{id}}/remove" method="POST">
            <button type="submit">Удалить</button>
          </form>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div>Нет товаров</div>
  {{/if}}
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
  const eventList = document.getElementById('events');
  const eventSource = new EventSource('/product/sse');

  toastr.options.positionClass = "toast-bottom-right";

  eventSource.onmessage = (e) => {
    const json = JSON.parse(e.data);
    let message = '';
    if (json.type === "CREATE") {
      message = `Создан товар ${json.product.name}`
    } else if (json.type === "UPDATE") {
      message = `Обновлен товар ${json.product.name}`
    } else if (json.type === "REMOVE") {
      message = `Удален товар`
    }
    toastr.success(message, 'Уведомление');
  };
  eventSource.onerror = (error) => {
    toastr.error('Ошибка отслеживания', 'Уведомление');
  };

  function getOut() {
    eventSource.close();
  }
</script>
