<div>
  <h2>Управление подкатегориями</h2>
  {{#if message}}{{message}}<br><br>{{/if}}

  <a href="/subcategory/create">Новая подкатегория</a>
  
  {{#if subcategories.length}}
    <div>
      {{#each subcategories}}
        <div class="item">
          <h3>{{name}}</h3>
          <div>ID: {{id}}</div>
          <div>Команда выдачи: {{giveCommand}}</div>
          <div>Родительская категория: {{category.id}}) {{category.name}}</div>

          <br><a href="/subcategory/{{id}}/update">Редактировать</a><br><br>
          <form action="/subcategory/{{id}}/remove" method="POST">
            <button type="submit" onclick="getOut()">Удалить</button>
          </form>
        </div>
      {{/each}}
    </div>
  {{else}}
    <div>Нет подкатегорий</div>
  {{/if}}
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
  const eventList = document.getElementById('events');
  const eventSource = new EventSource('/subcategory/sse');

  toastr.options.positionClass = "toast-bottom-right";

  eventSource.onmessage = (e) => {
    const json = JSON.parse(e.data);
    let message = '';
    if (json.type === "CREATE") {
      message = `Создана подкатегория ${json.subcategory.name}`
    } else if (json.type === "UPDATE") {
      message = `Обновлена подкатегория ${json.subcategory.name}`
    } else if (json.type === "REMOVE") {
      message = `Удалена подкатегория`
    }
    toastr.success(message, 'Уведомление');
  };
  eventSource.onerror = (error) => {
    toastr.error('Ошибка отслеживания', 'Уведомление');
  };

  function getOut() {
    eventSource.close();
  }
</script>
