<div>
  {{#if subcategory}}
    <h2>Обновление категории: Id {{subcategory.id}}</h2>
  {{else}}
    <h2>Добавление новой категории</h2>
  {{/if}}

  <form action="/subcategory{{#if subcategory}}/{{subcategory.id}}/update{{/if}}" method="POST">
    <div class="form-group">
      <label>Название:</label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Привилегии"
        {{#if subcategory}}value="{{subcategory.name}}"{{/if}}
        required
      >
    </div>
    <div class="form-group">
      <label>Команда выдачи:</label>
      <input
        type="text"
        name="giveCommand"
        class="form-control"
        placeholder="комманда"
        {{#if subcategory}}value="{{subcategory.giveCommand}}"{{/if}}
        required
      >
    </div>
    <div class="form-group">
      <label>ID родительской категории:</label>
      <input
        type="number"
        name="categoryId"
        class="form-control"
        placeholder="1"
        {{#if subcategory}}value="{{subcategory.category.id}}"{{/if}}
        required
      >
    </div>

    <button type="submit">Сохранить</button>
  </form>
</div>
